<div class="homeDiv">
  <a routerLink="/account/balance">
    <mat-card class="home mat-elevation-z5" routerLink="/account/balance">
      <mat-card-title class="title">
        Consultar Saldo
      </mat-card-title>
      <mat-card-subtitle class="subtitle">
        <div class="material-icons">
          paid
        </div>
      </mat-card-subtitle>
    </mat-card>
  </a>

  <a routerLink="/account/deposit">
    <mat-card class="home mat-elevation-z5" routerLink="/account/deposit">
      <mat-card-title class="title">
        Depositar
      </mat-card-title>
      <mat-card-subtitle class="subtitle">
        <div class="material-icons">
          my_library_add
        </div>
      </mat-card-subtitle>
    </mat-card>
  </a>

  <a routerLink="/account/withdrawal">
    <mat-card class="home mat-elevation-z5" routerLink="/account/withdrawal">
      <mat-card-title class="title">
        Sacar
      </mat-card-title>
      <mat-card-subtitle class="subtitle">
        <div class="material-icons">
          payment
        </div>
      </mat-card-subtitle>
    </mat-card>
  </a>
</div>
